.clock {
    margin-top: 40px;
    width: 300px;
    height: 100px;
    text-align: center;
    border: none;
    border-radius: 100px;
    background-color:#EBFFFC;
}

.heureClock{
    margin-bottom: 50%;
    font-size: 70px;
    color: #00D1B2;
}

.leJour{
    font-size: 100px;
    color: #00D1B2;
}

.calendar{
    height: 400px;
    width: 400px;
    background-color: tomato;
}

.heightCalendar{
    height: 180px;
}

.divUnderCalenTitle{
    background-color: #EBFFFC;
    height: 390px;
    width: 1200px;
    margin-left: 0.8px !important;
}

.weekCalendar {
    width: 1200px;
}

.weekCalendarTitle{
    background-color: #00D1B2;
    height: 110px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testII{
    text-align: center;
    height: 110px;
    background-color: #00D1B2;
    color: white;
    font-weight: bold !important;
    width: 805px;
}

.divProverbe{
    width: 1660px;
    height: 70px;
}

.titreProverbe{
    color: white;
    text-align: center;
}

.divUnderProverbe{
    width: 1660px;
    height: 250px;
    background-color:  #EBFFFC;
    text-align: center;
    color: #00D1B2;
    font-weight: bold;
}

.proverbe{
    padding-top: 70px;
}